html, body
{
	background-color: #78c143;
	font-family: Arial, Helvetica, sans-serif ;
	color: #000000;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

a, a:active, a:focus
{
	text-decoration: none;
	color: #000000;
}

a:hover
{
	text-decoration: underline;
}

table
{
	font-size: 22px;
}

.logo
{
	position: fixed;
	width: 15%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}



.header
{
	position: fixed;

	width: 85%;
	height: 115px;
	left: 15%;
	top: 0%;
	display: block;
}


.linkrow
{
	position: fixed;
	background-color: #ffffff;
	height: 28px;
	width: 85%;
	left: 15%;
	top: 75px;
	padding-left: 3%;
	padding-top: 2px;
	color: #00ff00;
	font-weight: bold;
}

.linkrow A:link
{
	font-size: 18px;
	font-weight: bold;
	color: #886644;
	text-decoration: none;
}

.linkrow A:visited
{
	font-size: 18px;
	font-weight: bold;
	color: #886644;
	text-decoration: none;
}


.linkrow td
{
	text-align: center;
}

.linkrow TD:hover
{
	background-color: #AA6644;
}

.linkrow td:hover a
{
	color: #FFFFFF;
}


.mainframe
{
	overflow:auto;
	position: fixed;
	top: 115px;
	bottom: 30px;
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	background-color: #ffffff;	
	left: 15%;
	width: 85%;
}


.mainframe A:link
{
	font-size= 20;
	color: #000000;
}


.footer
{
	position: fixed;
	bottom: 0%;
	height: 30px; 
	left: 15%;
	clear: both;
	display: block;
	text-align: left;
	font-size: 22px;
	font-weight: bold;
	width: 85%;
	background-image: url(/Images/footer.jpg);
}

.footer table
{
	color: #FFFFFF;
}
.menu
{
    width: 85%;
    left: 15%;
    text-align: center;
    
}


