html, body
{
	margin:0; 
	padding:0;
	height: 100%;
	text-align:left; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #88ff00;
	color: #ffffff;
	font-weight: bold;
	font-size: 20;
} 


.header
{

 
 
	position:fixed;
	width: 100%;
	height: 80px;
	background-color:#00ff00; 
	display:block;
	overflow:auto;
	background-repeat: no-repeat;
	padding-top: 20px;
	color: #ffffff;
	font-weight: bold;
	font-sytle: italic;
	font-size: 40px;
	text-align: center;
} 



.linkrow
{
	background-color: #FFFFFF;  
	position: fixed;
	height: 20px;
	width: 100%;
	top: 80px;
	padding-left: 4%;
	color: #00ff00;
	font-weight: bold;
	font-size: 16px;
	
}
 
.linkrow A:link
{
	color: #00FF00;
	text-decoration: none;
}

.linkrow A:visited
{
	color: #00FF00;
	text-decoration: none;
}

.linkrow A:hover
{
	color: #88FF00;
	text-decoration: none;
}
 

 
.mainframe
{
	overflow:auto;
	position: fixed;
	top: 100px;
	bottom: 20px;
	width: 100%;
	padding-top: 20px;
	padding-left: 4%
}
 
 
 
.footer
{
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 20px; 
	overflow: auto;
	clear: both;
	display: block;
	text-align: left;
	font-size: 14px;
	padding-top: 3px;
	padding-left: 3%;
	background-color: #00ff00;
}




a, a:active, a:focus
{
	text-decoration: none;
	color: #FFFFFF;
}

a:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}